[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
.vs/
.vscode/
.idea/
*.userprefs
*.csproj
*.sln
*.unityproj
*.pidb
*.booproj
*.svd
*.suo
*.user
*.DS_Store
*.apk
*.aab
*.unitypackage
*.tmp
*.swp
.DS_Store
